* {
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


body {
    background-color: antiquewhite;
    margin: 0;

}

#root {}

h1,
h2 {}